html,
body {
    background-color: #242C35
}

.centerSplashImage {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    max-width: 50vw
}